<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
  <title>A* Algorithm Website</title>
</head>
<body>
  <h1>Welcome to the A* Algorithm Visualization</h1>
  <p>This website will visually explain the A* algorithm by plotting it on a map of the US.</p>
  <div id="map" style="width: 100%; height: 500px;"></div>
  <button onclick="runAStar()">Find Path</button>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
